language: go
sudo: false
go:
- 1.8
- tip
before_install:
- openssl aes-256-cbc -K $encrypted_3c9350a46512_key -iv $encrypted_3c9350a46512_iv
  -in credentials.tar.gz.enc -out credentials.tar.gz -d
- tar -xzf credentials.tar.gz
- cp ./task/env/config.example ./task/env/config
- cp ./user/env/config.example ./user/env/config
- go get -u github.com/golang/dep/...
- go get github.com/mattn/goveralls
script:
- cd auth && dep ensure
- cd ../user && dep ensure
- go test -race -v $(go list ./... | grep -v /vendor)
- goveralls -service=travis-ci
- cd ../task && dep ensure
- go test -race -v $(go list ./... | grep -v /vendor)
- goveralls -service=travis-ci
